*{
    margin:0;
    padding:0;
}

ul li{
    list-style:none;
}

.dashboard-left-top{
    padding:24px;
    color:#ffffff;
}

.dashboard-left-second{
    padding:24px;
    border-top:1px solid #ffffff;
    border-bottom:1px solid #ffffff;
    color:#ffffff;
}

.dashboard-left-second img{
    border-radius: 50%;
}

.left-col{
    background:#353a40;
    min-height: 100vh;
    font-family: 'Lato';
}

@media (max-width:767px) {
    .left-col{
        display:none;
    }
}

ul.dashboard-nav{
    padding-left: 0!important;
}

ul.dashboard-nav a{
    color:#ffffff;
    text-decoration:none;
    font-size: 125%;
}

ul.dashboard-nav li{
    padding:12px 24px;
    border-radius: 8px;
    transition: 0.8s all;
    margin:8px 0px;
}

ul.dashboard-nav li:hover{
    background:#272a2e;
    transition: 0.8s all;
    cursor: pointer;
}

.dash-active{
    background: #1673e4;
}

.copyright-row{
    color:#ffffff;
    text-align: left;
    padding:24px 24px;
}
