@media (min-width:767px) {
    .my-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* margin-top:2.5%; */
    }
}

.orange-text{
    color: #2196f3;
}

.my-cards {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    /* margin-top:2.5%; */
}

.my-blogs {
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 175%;
    text-transform: uppercase;
    font-weight: bold;
}

.my-blogs p {
    border-bottom: 2px solid #2196f3;
    width: fit-content;
    text-align: center;
    padding: 12px 12px 12px 3px;
}

.blog-title p {
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
}

.blog-content {
    margin-top: -4%;
}

.readmore-btn {
    text-decoration: none;
    color: white;
    background-color: #2196f3;
    padding: 6px 18px;
    border-radius: 10px;
    font-size: 150%;
    font-family: 'Lato', sans-serif;
    width: fit-content;
    border: none;
    cursor: pointer;
    background: #2196f3;
}

.blog-card {
    width: 24rem;
    overflow: hidden;
    transition: 0.84s all;
    border-radius: 12px;
    margin-top: 34px;
    /* margin-right:5%; */
}

@media (max-width:767px) {
    .blog-card {
        width: 100%;
        overflow: hidden;
        transition: 0.84s all;
        border-radius: 12px;
        margin-top: 34px;
    }
}

.blog-card:hover {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.45);
    transition: 0.84s all;
}

.blog-img {
    width: 100%;
    height:12rem;
    overflow: hidden;
}

.blog-img img {
    width: 100%;
    border-radius: 12px;
}

.blog-title, .blog-content {
    padding: 12px 12px 12px 3px;
    word-break: break-all;
}

.readmore-btn {
    margin: 6px 12px 12px 3px;
    transition: 0.84s all;
    background: #2196f3;
}

.readmore-btn  a{
    color: #ffffff;
    text-decoration: none;
}

.readmore-btn:hover {
    cursor: pointer;
    background-color: #095592;
    transition: 0.84s all;
}



/* -------------------------------------------
            Mobile CSS Only okay Dude
---------------------------------------------- */

@media (max-width:767px){
    nav{
        /* display:none !important; */
    }
}