.blog-details {
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 175%;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 34px;
}

.blog-details p {
    border-bottom: 2px solid #2196f3;
    width: fit-content;
    text-align: center;
    padding: 12px 12px 12px 3px;
}

.blog-detailimg {
    position: relative;
    margin: 0 auto;
    width: 40vw;
    border-radius: 8px;
    overflow: hidden;
}

.blog-detailimg img {
    border-radius: 8px;
    width: 100%;
}

.black-overlay {
    position: relative;
    background: black;
    width: 100%;
    min-height: 80px;
    opacity: 0.789;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.info-list {
    position: absolute;
    width: 100%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color: white;
    font-size: 160%;
    z-index: 99;
}

.info-list ul li i {
    color: rgb(255, 255, 255);
    z-index: 199;
}

.info-list ul {
    display: flex;
    justify-content: space-around;
}

.info-list ul li {
    color: #ffffff;
}

.blogdetail-ttitle {
    font-size: 150%;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    padding: 18px;
}

.blogdetails-para {
    text-align: left;
    width: 70%;
    margin: 0 auto;
    font-family: sans-serif;
    word-wrap: break-word;
}

/* -------------------------------------------------------
        Mobile CSS Only okay dude
---------------------------------------------------------- */

@media (max-width:767px) {
    nav {
        /* display: none !important; */
    }
    .blog-detailimg {
        position: relative;
        margin: 0 auto;
        width: 90vw;
        border-radius: 8px;
        overflow: hidden;
    }
    .blog-detailimg img {
        width: 100%;
    }
}