.Contact-center {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 175%;
    text-transform: uppercase;
    font-weight: bold;
}

.contactsmall-text {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 115%;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 2%;
}

.contactleft-line {
    border-bottom: 2px solid #2196f3;
    width: 90px;
    position: relative;
    margin-top: -12%;
    margin-bottom: 29px;
    margin-right: 28px;
}

.contactright-line {
    border-bottom: 2px solid #2196f3;
    width: 90px;
    margin-bottom: 29px;
    margin-left: 28px;
}

.contact-lower {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-details, .contactright-content {
    width: 50%;
    display: flex;
    /* justify-content: center; */
    font-size: 125%;
    flex-direction: column;
    align-items:center;
}

.contactright-content {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.contactright-content p {
    /* padding:6px 2px 0px; */
    /* width: 55%; */
    padding-bottom: 12px;
    font-family: 'Lato';
}

.contact-details ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-details ul li {
    padding: 2px 24px;
    font-size: 150%;
    /* font-weight: ; */
    /* text-align: left; */
}

.contact-details ul li i {
    color: #2196f3;
    margin-left: -20%;
}

.contact-details ul li p {
    padding: 0px 0px 8px 0px;
}

.three-in-1 {
    display: flex;
    justify-content: center;
    margin-top: -1%;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: -2%;
}

form input, textarea {
    width: 50%;
    margin: 12px 0px;
    box-shadow: 2px 4px -4px rgba(0, 0, 0, 0.45);
}

.contact-form-btn {
    background: #2196f3;
    color: white;
    border: none;
    outline: none;
    padding: 12px 24px;
    font-size: 150%;
    border-radius: 8px;
    width: fit-content;
    transition: 0.8s all;
}

.contact-form-btn:hover{
    cursor: pointer;
    opacity: 0.67;
}

.form-field {
    width:200%;
    outline: none;
    border: none;
    padding: 24px 12px 24px 54px;
    border-radius: 2px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.23);
    transition: 0.8s all;
}

.form-field:hover{
    /* cursor: pointer; */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.23);
    /* opacity: 0.86; */
    transition: 0.8s all;
}

table tbody tr{
    height:40px;
}

table tbody tr.first-tr{
    height:20px;
}

table tbody tr.ht-15{
    height:15px;
}

table td.bg-circle{
    background: #2196f3;
    padding: 0px 12px;
    border-radius: 50%;
}

table td.bg-circle i{
    color:white;
    font-size: 80%;
}

.contact-heading{
    font-weight:600;
}

.my-padding{
    padding-left:12px;
}

.mr-left-15{
    margin-left:14% !important;
}

.thankyou-message{
    font-size: 150%;
    font-weight:bold;
    color: #2196f3;
}

form .form-div {
    /* margin-bottom:10px; */
    position:relative;
}
form i{
    position: absolute;
    top:34%;
    left:4.5%;
    font-size:150%;
}

form i.fa-comment-dots{
    position: absolute;
    top:20%;
    left:4.5%;
    font-size:150%;
}

form input {

}

@media (max-width:767px){
    nav{
        /* display:none !important; */
    }

    .contact-details, .contactright-content {
        width: 100%;
        align-items: center;
    }

    .contactright-content p{
        margin-top:12.5%;
        text-align: center;
    }

    .mr-left-15{
        margin:0 auto !important;
    }

    .follow{
        margin:0 auto !important;
        width:auto !important;
        /* margin-left: auto; */
    }

    .form-field {
        width:99%;
    }


    
}

@media (max-width:500px){
    .form-field {
        width:79%;
    }
}