
body {
    background-color: #F6F6F6;
}

/* ---------------------------------------
            home page left part text
-------------------------------------------*/

.left {
    padding-left: 120px;
    width: 45%;
}

.right{
    width:55%;
    /* padding-top */
}
.tag-content {
    margin-top: 4%;
    padding: 12px;
}

.tag-content p {
    /* padding: 0px 24px; */
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 300%;
}

.margin-top {
    margin-top: -8%;
    padding:39px 0px;
}

p.small-text {
    font-size: 150%;
    font-weight: normal;
    margin-top: -5%;
    font-family: 'Lato', sans-serif;
    word-wrap: break-word;
}

.button {
    display: flex;
    justify-content: flex-start;
    /* padding: 0px 24px; */
    margin-top: 0%;
    /* margin-left: 5%; */
    font-family: 'Lato';
}

@media (min-width:767px){
    .button{
        margin-left: 2%;
    } 
}

.cv-button, .follow {
    background-color: orange;
    padding: 12px 18px;
    border-radius: 10px;
    color: white;
    font-size: 150%;
    width: fit-content;
}

.cv-button a{
    color: #ffffff;
    text-decoration: none;
}

.cv-button:hover, .follow:hover {
    cursor: pointer;
    background: rgb(245, 178, 53);
}

.follow {
    margin-left: 30px;
}

.my::before {
    content: '\f16d';
    min-width: 250px;
    min-height: 25px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 6px 7px;
    /* color:rgb(0, 0, 0); */
}

section#hero {
    display: flex;
    margin-top: -2%;
}
.home-img{
    margin:auto;
}

.home-img img {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    margin-left:11%;
    margin-top: 10%;
    box-shadow: 0 8px 30px -7px #505152;
}

i.fa-facebook-f, i.fa-instagram, i.fa-linkedin-in {
    color: black;
}

i.fa-facebook-f:hover {
    cursor: pointer;
    color: #0d8bf1;
}

i.fa-linkedin-in:hover {
    cursor: pointer;
    color: #0d8bf1;
}

i.fa-instagram:hover {
    cursor: pointer;
    /* background: linear-gradient(to right, #DD2A7B, #8134AF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: purple;
}

.social-icons {
    display: inline;
    position: relative;
    top: -8%;
}

.fa-facebook-f:before, .fa-facebook:before {
    content: "\f39e" !important;
}

.view_mobile{
    display: none;
}

.my-break{
    display:none;
}

.follow p{
    display: inline;
}

.show_in_mobile{
    display:none;
}


/* --------------------------------------------
            CSS for mobile view
----------------------------------------------- */

@media (max-width: 767px){
    nav{
        display:none;
    }
    .left {
        padding-left: 12px;
        width: 100%;
    }
    
    img.view_mobile{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-top: 10%;
        box-shadow: 0 8px 30px -7px #505152;
        margin: 0 auto;
    }

    .view_mobile{
        display: block;
    }

    .home-img{
        display: none;
    }

    .tag-content {
        width:90vw;
        margin-top: 15%;
        padding: 12px 0px;
        text-align: center;
    }
    
    p.small-text {
        font-size: 150%;
        font-weight: normal;
        /* margin-top: -5%; */
        font-family: 'Lato', sans-serif;
        word-wrap: break-word;
        padding-top: 38px;
    }

    .button {
        display: block;
        margin-top: 6%;
        margin-right: 0%;
        text-align: center;
        font-size: 100%;
        margin: 0 auto;
    }

    .my-break{
        display: block;
    }

    .cv-button,.follow{
        width: 50vw;
        margin:0 auto;
    }

    .social-icons {
        top: -3%;
    }

    .follow p{
        display: none;
    }

    .show_in_mobile{
        display: block;
        min-height: 6px;
        max-height: 0px;
    }
    
}