body
{
    background-color: #FCFCFC;
}

/* ---------------------------------------
            home page left part text
-------------------------------------------*/
.left{
    padding-left: 80px;
}
.tag-content{
    margin-top: 15%;
    
}

.follow .social-icons:first-child{
/* font-size: ; */
}
.tag-content p{
    padding: 0px 24px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 300%;

    
    }
    .margin-top {
        margin-top: -5%;
    }
    p.small-text
    {
        font-size: 150%;
        font-weight: normal;
        margin-top: -5%;
        font-family: 'Roboto', sans-serif;

    }


    .button{
        display: flex;
        justify-content: flex-start;

    padding: 0px 24px;
    margin-top: 18%;
        
    }
    .cv-button,.follow {
        background-color: orange;
        padding: 6px 18px;
        border-radius: 10px;
        color: white;
        font-size: 150%;
        width: fit-content;
        
    }
    

    .cv-button:hover,.follow:hover{
        cursor: pointer;
        background:rgb(245, 178, 53);
    }
    .follow{
        margin-left: 30px;



    }

    .my::before{
    	content:'\f16d';
        min-width:250px;
        min-height:25px;
        background:rgb(255, 255, 255);
        border-radius:50%;
        padding:6px 7px;
        /* color:rgb(0, 0, 0); */
    }

    section#hero{
        display: flex;


    }
    
    .home-img img{
        height:440px;
        width: 440px;
        border-radius: 50%;


    }

    i.fa-facebook-f,i.fa-instagram,i.fa-linkedin-in{
        color:black;
    }
    i.fa-facebook-f:hover {
        cursor: pointer;
        color:#0d8bf1;
        }

        i.fa-linkedin-in:hover {
            cursor: pointer;
            color: #0d8bf1;
            }

            i.fa-instagram:hover {
                cursor: pointer;
                background:linear-gradient(to right, #DD2A7B, #8134AF  );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                }

                .social-icons{
                    display: inline;
                    position:relative;
                    top:-8%;
                }

                .fa-facebook-f:before, .fa-facebook:before{
                    content: "\f39e" !important;
                }