* {
    /* margin: auto; */
    padding: 0;
}

#orange-text {
    color: #2196f3;
}

ul li a.active {
    color: #2196f3 !important;
}

.logo-text {
    font-weight: bolder;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
}

ul li {
    font-family: 'Lato', sans-serif;
    list-style: none;
    padding: 10px 12px 12px 30px;
}

ul {
    display: flex
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 104px 0px 104px;
    align-items: center;
}

div#hamburger-bar {
    display: none;
}

nav .logo-text a {
    color: black;
    text-decoration: none;
}

div.logo-text, div.nav-right-list {
    margin: 0!important;
}

.logo-nav {
    margin: 0 !important;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 150%;
}

ul li a:hover {
    cursor: pointer;
    color: #2196f3;
}

@media (max-width:767px) {
    div#hamburger-bar {
        display: block;
        transition: top 3000ms ease-in-out 3000ms;
    }
    .nav-right-list {
        display: block;
        transition: top 300ms ease-in-out 300ms;
    }
    .nav-right-list ul {
        display: none;
        transition: top 300ms ease-in-out 300ms;
        border-radius: 12px;
    }
    .nav-right-list-ul {
        width: 100%;
        display: flex !important;
        flex-direction: column;
        position: fixed;
        background-color: #095592;
        /* background:rgb(100, 100, 100); */
        top: 75px;
        left: 0;
        color: #ffffff;
        text-align: center;
        transition: top 300ms ease-in-out 300ms;
        animation: mymove 1s 1;
    }
    @keyframes mymove {
        from {
            opacity: 0;
            height: 0px;
        }
        to {
            opacity: 1;
            height: 260px;
        }
    }
    .nav-right-list ul li a {
        color: #ffffff;
        text-align: center;
    }
    .nav-right-list ul li {
        border-bottom: 1px solid #ffffff;
        border-radius: 12px;
    }
}